<ion-grid>
    <ion-row>
        <ion-card style="padding-top: 20px;">
            <img src="../../assets/imgs/logo.svg" width="50px" height="60px" />
            <ion-card-content>
                <form #form (ngSubmit)="login($event)">
                    <ion-list>
                        <ion-item>
                            <ion-label stacked>Username</ion-label>
                            <ion-input required name="username" placeholder="test@test.com" type="email" [(ngModel)]="username"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label stacked>Password</ion-label>
                            <ion-input required name="password" placeholder="admin123" type="password" [(ngModel)]="password"></ion-input>
                        </ion-item>
                        <span *ngIf="isLoading">Loading...</span>
                        <span *ngIf="loginError">Usuario o contrasena no valido.</span>
                        <span *ngIf="formNotValid">Email no valido.</span>
                    </ion-list>
                    <div style="margin-top: 15px;">
                        <button ion-button full type="submit">Login</button>
                    </div>
                </form>
            </ion-card-content>
        </ion-card>
        <div style="padding: 10px; margin-top: 15px;">
            <a (click)="goToRegisterPage()">No tienes una cuenta? Registrate</a>
        </div>
    </ion-row>
</ion-grid>