<ion-header>
    <ion-navbar text-center color="primary">
        <ion-title>Perfil de Nestlé</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar item-start *ngIf="userInfo.type === 'PROVIDER'">
                <img [src]="userInfo.logoUrl">
            </ion-avatar>
            <h2>{{ userName }} {{ (userInfo.type === 'WATCHER')? userInfo.lastname : '' }}</h2>
            <p>{{ (userInfo.type === 'PROVIDER')? userInfo.motto : ''  }}</p>
        </ion-item>
    </ion-card>

    <ion-content padding>
        <ion-item>
            <p style="font-size:16px;font-style:regular;">
                <b>Informacion del Perfil</b> <span class="right"> </span>
            </p>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-label><strong>Nombre:</strong> {{ userInfo.name }}</ion-label>
            </ion-item>
            <ion-item *ngIf="userInfo.type == 'PROVIDER'">
                <ion-label><strong>Descripción:</strong> {{ userInfo.motto }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Tipo de Perfil:</strong> {{ userInfo.type }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>E-mail:</strong> {{ userInfo.email }}</ion-label>
            </ion-item>
            <ion-item *ngIf="userInfo.type == 'PROVIDER'">
                <ion-label><strong>Sitio Web:</strong> {{ userInfo.website }}</ion-label>
            </ion-item>
            <ion-item *ngIf="userInfo.type == 'PROVIDER'">
                <button ion-button color="primary" float-left (click)="goToVerProductoPage()">Ver Productos </button>
            </ion-item>
            <ion-item>
                <button ion-button full color="dark" (click)="logout()">Cerrar sesion</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-content>

